* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #686adb;
}

.wrapper {
    width: 200px;
    background: #fff;
    border-radius: 15px;
    /* backdrop-filter: blur(10px); */
    box-shadow: 60px;
}

.wrapper .qr-code {
    text-align: center;
    width: 100%;
    margin-top: 15px;
    border-radius: 100px;
}

.wrapper h3, p {
    text-align: center;
    margin: 20px 0;
}